# NBA API Client Usage

The NBA API client used in this project is sourced from the [nba_api](https://github.com/swar/nba_api) repository on GitHub. This Python package provides convenient access to the NBA Stats API, providing retrieval of NBA-related data in our application.

To incorporate the NBA API client into our project, we followed the documentation and guidelines provided by the repository. The client enables us to fetch a variety of data, including player statistics, team information, game results, and more.

For detailed information on the NBA API client and its capabilities, please refer to the official [nba_api GitHub repository](https://github.com/swar/nba_api).

In [1]:
pip install nba_api

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nba_api in /Users/mihir/Library/Python/3.9/lib/python/site-packages (1.4.1)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from nba_api) (1.26.2)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (2.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (3.3.2)
WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/mihir/Library/Python/3.9/lib/python/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
#Import
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import teams
from nba_api.stats.static import players
import pandas
import numpy as np

### Individual Career Data

In [26]:
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print("Number of players fetched: {}".format(len(nba_players)))
nba_players[:5]
lebron = [player for player in nba_players if player["full_name"] == "LeBron James"] 
lebron
adavis = [player for player in nba_players if player["full_name"] == "Anthony Davis"] 
adavis

Number of players fetched: 4900

[{'id': 203076,
  'full_name': 'Anthony Davis',
  'first_name': 'Anthony',
  'last_name': 'Davis',
  'is_active': True}]

In [27]:
#player awards
from nba_api.stats.endpoints import playerawards
adavis_awards = playerawards.PlayerAwards(player_id="203076")
adavis_awards.get_data_frames()

[    PERSON_ID FIRST_NAME LAST_NAME                  TEAM  \
 0      203076    Anthony     Davis  New Orleans Pelicans
 1      203076    Anthony     Davis  New Orleans Pelicans
 2      203076    Anthony     Davis    Los Angeles Lakers
 3      203076    Anthony     Davis  New Orleans Pelicans
 4      203076    Anthony     Davis  New Orleans Pelicans
 5      203076    Anthony     Davis  New Orleans Pelicans
 6      203076    Anthony     Davis    Los Angeles Lakers
 7      203076    Anthony     Davis  New Orleans Pelicans
 8      203076    Anthony     Davis  New Orleans Pelicans
 9      203076    Anthony     Davis  New Orleans Pelicans
 10     203076    Anthony     Davis  New Orleans Pelicans
 11     203076    Anthony     Davis  New Orleans Pelicans
 12     203076    Anthony     Davis  New Orleans Pelicans
 13     203076    Anthony     Davis  New Orleans Pelicans
 14     203076    Anthony     Davis  New Orleans Pelicans
 15     203076    Anthony     Davis  New Orleans Pelicans
 16     203076    Anthony     Davis    Los Angeles Lakers
 17     203076    Anthony     Davis    Los Angeles Lakers
 18     203076    Anthony     Davis                   USA
 19     203076    Anthony     Davis  New Orleans Pelicans
 20     203076    Anthony     Davis    Los Angeles Lakers
 21     203076    Anthony     Davis    Los Angeles Lakers
 22     203076    Anthony     Davis    Los Angeles Lakers

                           DESCRIPTION ALL_NBA_TEAM_NUMBER   SEASON     MONTH  \
 0                  All-Defensive Team                   2  2014-15      None
 1                  All-Defensive Team                   1  2017-18      None
 2                  All-Defensive Team                   1  2019-20      None
 3                             All-NBA                   1  2014-15      None
 4                             All-NBA                   1  2016-17      None
 5                             All-NBA                   1  2017-18      None
 6                             All-NBA                   1  2019-20      None
 7                     All-Rookie Team                   1  2012-13      None
 8   NBA All-Star Most Valuable Player                      2016-17      None
 9             NBA Player of the Month                None  2017-18  2/1/2018
 10            NBA Player of the Month                None  2017-18  3/1/2018
 11             NBA Player of the Week                None  2014-15      None
 12             NBA Player of the Week                None  2016-17      None
 13             NBA Player of the Week                None  2017-18      None
 14             NBA Player of the Week                None  2017-18      None
 15             NBA Player of the Week                None  2018-19      None
 16             NBA Player of the Week                      2019-20      None
 17             NBA Player of the Week                None  2019-20      None
 18                 Olympic Gold Medal                None     2012      None
 19                 All-Defensive Team                   2  2016-17      None
 20             NBA Player of the Week                None  2022-23      None
 21             NBA Player of the Week                None  2022-23      None
 22            NBA Player of the Month                None  2022-23  3/1/2023

                    WEEK  CONFERENCE   TYPE    SUBTYPE1 SUBTYPE2 SUBTYPE3
 0                  None  1610612740  Award  Kia Motors    KIADT     None
 1                  None        West  Award  Kia Motors    KIADT     None
 2                  None        West  Award  Kia Motors    KIADT     None
 3                  None  1610612740  Award  Kia Motors    KIANT     None
 4                  None        West  Award  Kia Motors    KIANT     None
 5                  None        West  Award  Kia Motors    KIANT     None
 6                  None        West  Award  Kia Motors    KIANT     None
 7                  None  1610612740  Award  Kia Motors    KIART     None
 8                  None              Award  Kia Motors    KAMVP
 9                  None        West  Award  Kia Motors    KIPMO     None
 10                 None        West  Award  Kia Motors    KIPMO     None
 11  2015-03-09T00:00:00        West  Award  Kia Motors    KIPWK     None
 12  2016-11-21T00:00:00        West  Award  Kia Motors    KIPWK     None
 13  2017-11-20T00:00:00        West  Award  Kia Motors    KIPWK     None
 14  2018-02-26T00:00:00        West  Award  Kia Motors    KIPWK     None
 15  2018-11-12T00:00:00        West  Award  Kia Motors    KIPWK     None
 16  2019-10-28T00:00:00        West  Award  Kia Motors    KIPWK
 17  2019-12-02T00:00:00        West  Award  Kia Motors    KIPWK     None
 18                 None        None  Award     Olympic     Gold     None
 19                 None        West  Award  Kia Motors    KIADT     None
 20  2023-03-27T00:00:00        West  Award  Kia Motors    KIPWK     None
 21  2022-11-28T00:00:00        West  Award  Kia Motors    KIPWK     None
 22                 None        West  Award  Kia Motors    KIPMO     None  ]

In [5]:
#sample player career for Lebron
career = playercareerstats.PlayerCareerStats(player_id="2544")
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054.0,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966.0,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063.0,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326.0,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877.0,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902.0,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493.0,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709.0,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795.0,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026.0,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316.0,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504.0,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084.0,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954.0,609,...,0.768,65,392,457,375,50,32,178,88,1590
20,2544,2023-24,00,1610612747,LAL,38.0,28,28,960.0,263,...,0.742,28,189,217,204,41,20,94,29,711

### All-Time Stats

In [7]:
#all-time leaders endpoint
from nba_api.stats.endpoints import alltimeleadersgrids
leaders = alltimeleadersgrids.AllTimeLeadersGrids()
assists.get_data_frames()[2]

   PLAYER_ID        PLAYER_NAME    AST  AST_RANK IS_ACTIVE_FLAG
0        304      John Stockton  15806         1              N
1        467         Jason Kidd  12091         2              N
2     101108         Chris Paul  11707         3              Y
3       2544       LeBron James  10624         4              Y
4        959         Steve Nash  10335         5              N
5        349       Mark Jackson  10334         6              N
6      77142      Magic Johnson  10141         7              N
7     600015    Oscar Robertson   9887         8              N
8     201566  Russell Westbrook   9303         9              Y
9      78318       Isiah Thomas   9061        10              N

### Player Game Timelines

In [15]:
#next games
from nba_api.stats.endpoints import playernextngames
nextGames = playernextngames.PlayerNextNGames(number_of_games=10, player_id="2544")
nextGames.get_data_frames()

[      GAME_ID     GAME_DATE  HOME_TEAM_ID  VISITOR_TEAM_ID HOME_TEAM_NAME  \
 0  0022300428  DEC 28, 2023    1610612747       1610612766    L.A. Lakers
 1  0022300443  DEC 30, 2023    1610612750       1610612747      Minnesota
 2  0022300446  DEC 31, 2023    1610612740       1610612747    New Orleans
 3  0022300475  JAN 03, 2024    1610612747       1610612748    L.A. Lakers
 4  0022300491  JAN 05, 2024    1610612747       1610612763    L.A. Lakers
 5  0022300505  JAN 07, 2024    1610612747       1610612746    L.A. Lakers
 6  0022300516  JAN 09, 2024    1610612747       1610612761    L.A. Lakers
 7  0022300531  JAN 11, 2024    1610612747       1610612756    L.A. Lakers
 8  0022300549  JAN 13, 2024    1610612762       1610612747           Utah
 9  0022300565  JAN 15, 2024    1610612747       1610612760    L.A. Lakers

   VISITOR_TEAM_NAME HOME_TEAM_ABBREVIATION VISITOR_TEAM_ABBREVIATION  \
 0         Charlotte                    LAL                       CHA
 1       L.A. Lakers                    MIN                       LAL
 2       L.A. Lakers                    NOP                       LAL
 3             Miami                    LAL                       MIA
 4           Memphis                    LAL                       MEM
 5       LA Clippers                    LAL                       LAC
 6           Toronto                    LAL                       TOR
 7           Phoenix                    LAL                       PHX
 8       L.A. Lakers                    UTA                       LAL
 9     Oklahoma City                    LAL                       OKC

   HOME_TEAM_NICKNAME VISITOR_TEAM_NICKNAME GAME_TIME HOME_WL VISITOR_WL
 0             Lakers               Hornets  10:30 PM   16-15       7-21
 1       Timberwolves                Lakers  08:00 PM    22-7      16-15
 2           Pelicans                Lakers  07:00 PM   17-14      16-15
 3             Lakers                  Heat  10:00 PM   16-15      18-12
 4             Lakers             Grizzlies  10:00 PM   16-15      10-19
 5             Lakers              Clippers  09:30 PM   16-15      18-12
 6             Lakers               Raptors  10:30 PM   16-15      11-18
 7             Lakers                  Suns  10:00 PM   16-15      14-15
 8               Jazz                Lakers  09:30 PM   13-18      16-15
 9             Lakers               Thunder  10:30 PM   16-15       19-9  ]

In [23]:
#previous games dashboard
from nba_api.stats.endpoints import playerdashboardbylastngames
prevGames = playerdashboardbylastngames.PlayerDashboardByLastNGames(last_n_games=2, player_id="2544")
prevGames.get_data_frames()

[  GROUP_SET GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  ...  \
 0   Overall     2023-24   2  1  1    0.5  74.093333   18   34   0.529  ...

    BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0         1          1        1         1         1                1

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1

 [1 rows x 62 columns],
       GROUP_SET GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  \
 0  Last 5 Games     2023-24   2  1  1    0.5  74.093333   18   34   0.529

    ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0  ...         1          1        1         1         1                1

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1

 [1 rows x 62 columns],
        GROUP_SET GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  \
 0  Last 10 Games     2023-24   2  1  1    0.5  74.093333   18   34   0.529

    ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0  ...         1          1        1         1         1                1

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1

 [1 rows x 62 columns],
        GROUP_SET GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  \
 0  Last 15 Games     2023-24   2  1  1    0.5  74.093333   18   34   0.529

    ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0  ...         1          1        1         1         1                1

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1

 [1 rows x 62 columns],
        GROUP_SET GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  \
 0  Last 20 Games     2023-24   2  1  1    0.5  74.093333   18   34   0.529

    ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0  ...         1          1        1         1         1                1

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1

 [1 rows x 62 columns],
      GROUP_SET  GROUP_VALUE  GP  W  L  W_PCT        MIN  FGM  FGA  FG_PCT  \
 0  Game Number  Games 21-30   1  1  0    1.0  37.310000   13   20   0.650
 1  Game Number  Games 31-40   1  0  1    0.0  36.783333    5   14   0.357

    ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  \
 0  ...         1          1        1         1         1                1
 1  ...         2          1        2         2         2                2

    NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  WNBA_FANTASY_PTS_RANK
 0                     1         1         1                      1
 1                     2         1         1                      2

 [2 rows x 62 columns]]